
/*Globals*/
* {
    box-sizing: border-box !important;
}

#global-container {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

/*Header*/
.header-inner {
    height: 10vh;
    width: 100%;
    padding: 10px;
}

.header-inner h2 {
    margin: 0;
}

#header-logo {
    width: 15vw;
}

/*Body*/
.container-inner {
    height: 90vh;
    width: 100%;
}

.row {
    width: 100%;
    padding: 20px;
}

/*Form*/

#tip-calculator {
    height: 40vh;
    width: 40vw;
    background-color: #fff;
    border: 2px solid #4f7492;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*Slider*/

.slider-container {
    width: 80%;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 4px;
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; 
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px;
    border-radius: 100%; 
    background: #333; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    border-radius: 100%; 
    background: #333; 
    cursor: pointer; 
  }

/*Fonts*/
h2 {
    margin: 0 0 10px 0;
    font-size: 26px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    
}

p, .primary-txt {
    font-size: 18px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0 0 5px 0;
    color: #000;
}

.white-txt {
    color: #fff;
}

.black-txt {
    color: #000;
}

.primary-color-txt {
    color: #004782;
}

/*BG Colors*/

.primary-bg, .primary-hover-bg:hover {
    background-color: #004782;
}

.secondary-bg, .secondary-hover-bg:hover {
    background-color: #4f7492;
}

/*General*/
.flex-center-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.primary-btn {
    padding: 20px 60px;
    margin: 20px;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
